.container
{
    height: 50vh;
    background-color:thistle;
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items:center;
    flex-wrap: wrap;
}
button{
border-radius: 10px;
outline:none;
height:36px;
width:128px;
padding:10px;
margin:10px;
border:none;
font-size:18px;
background-color:skyblue;
color:green;

}